:root{
	--Violet: hsl(257, 40%, 49%);
	--Soft: hsl(300, 69%, 71%);
	--White: #ffffff;
	--Black: #000;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: var(--Black);
}

nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	transition: 0.6s;
	background: transparent;
	z-index: 100000;
}

nav.sticky{
	padding: 5px 0;
	transition: 0.6s;
}

nav.sticky .navbar{
	display: flex;
	justify-content: flex-end;
}

nav.sticky .navbar .logo {
	display: none;
}

nav.sticky .navbar .logo a{
	display: none;
}

nav .navbar{
	height: 100%;
	max-width: 1250px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 50px;
}

nav .navbar .logo a{
	color: var(--Soft);
	font-size: 40px;
	font-weight: 600;
	text-decoration: none;
}

nav .navbar .logo a span{
	color: var(--White);
	font-size: 40px;
	font-weight: 600;
	text-decoration: none;
}

nav .navbar .nav-links{
	display: block;
	position: fixed;
	top: 0;
	right: -100%;
	max-width: 270px;
	width: 100%;
	height: 300px;
	border-bottom-left-radius: 300px;
	background: var(--Soft);
	padding: 20px;
	line-height: 40px;
	transition: all 0.5s ease;
}

nav .navbar .nav-links .links li{
	position: relative;
	display: flex;
	align-items: center;
	list-style: none;
	padding: 0 75px;
}

nav .navbar .nav-links .links li a{
	height: 100%;
	color: #fff;
	text-decoration: none;
	white-space: nowrap;
	font-size: 18px;
	font: 500;
}

nav .navbar .nav-links .sidebar-logo{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.navbar .fa-bars{
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50px;
	background: var(--Soft);
	padding-left: 12px;
	color: var(--White);
	font-size: 20px;
	cursor: pointer;
}

.nav-links .sidebar-logo .fa-close{
	color: var(--White);
	font-size: 25px;
	font-weight: 500;
	cursor: pointer;
}

nav .navbar .nav-links .links{
	margin-top: 20px;
}

/* WriteUp Starts Here */
.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 100px 0;
}

.container-image img{
	margin-left: 40px;
	margin-top: 40px;
	width: 100%;
	height: 350px;
	object-fit: cover;
	border-radius: 60%;
	border: 7px solid var(--Soft);
}

.container-text{
	width: 40%;
	padding: 30px;
}

.container-text h2{
	font-size: 3.4rem;
	text-transform: capitalize;
	color: white;
}

.container-text p{
	font-size: 1.4rem;
	color: darkgray;
	margin-top: 5px;
	line-height: 30px;
}

.icons{
	display: flex;
	margin-top: 20px;
}

.icons i{
	height: 2.2rem;
	width: 2.2rem;
 	background: transparent;
	border-radius: 100%;
	border: 1px solid white;
	line-height: 2.2rem;
	cursor: pointer;
	padding: 0 10px 0 10px;
	margin-right: 13px;
	color: white;
}

.icons i:hover{
	border: 1px solid var(--Soft);
	color: var(--Soft);
}

/* About Me */
.wrapper{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	float: left;
	padding: 25px 0;
}

.Big-text{
	font-size: 2.5rem;
	font-weight: 700;
	text-align: center;
	letter-spacing: 3px;
	color: var(--White);
	text-transform: capitalize;
}

.Big-text span{
	color: var(--Soft);
}

.writeup{
	width: 100%;
	padding: 0 30px;
	margin-top: 30px;
}

.writeup p{
	font-size: 20px;
	color: var(--White);
	font-weight: 300;
	letter-spacing: 2px;
	line-height: 27px;
}

.button{
	width: 100%;
	margin-top: 30px;
}

.btnn1{
	padding: 1rem 3rem;
	margin-top: 25px;
	color: var(--White);
	font-size: 20px;
	font-weight: 700;
	border: none;
	background: var(--Soft);
	border-radius: 10px;
	box-shadow: .2px 1px 8px var(--White);
	cursor: pointer;
	text-decoration: none;
	line-height: 5;
}

.card-box{
	width: 100%;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
}

.card{
	flex: 1;
	background: #1a1a1a;
	border-radius: 0.4rem;
	margin-bottom: 16px;
	padding: 60px;
	margin-right: 20px;
	color: var(--White);
}

.card h2{
	font-size: 3rem;
	text-align: center;
	font-weight: 700;
	color: var(--Soft);
}

.card h4{
	font-size: 1.5rem;
	text-align: center;
	font-weight: 300;
	text-transform: capitalize;
	margin-top: 5px;
}

.card1{
	width: 48%;
	height: 300px;
	background: #1a1a1a;
	border-radius: 0.4rem;
	margin-bottom: 16px;
	padding: 60px;
	margin-right: 20px;
	color: var(--White);
}

/* Footer Starts Here */
.contact{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.contact1{
	width: 100%;
	margin-top: 20px;
}

.form{
	width: 65%;
	height: 470px;
	margin-left: 2%;
	margin-top: 20px;
	padding: 20px;
}

.form-name{
	width: 50%;
	float: left;
	margin-top: 7px;
}

.input{
	width: 90%;
	height: 65px;
	float: left;
	background-color: transparent;
	border: none;
	outline: none;
	border-bottom: 2px solid var(--White);
	padding: 1px 10px;
	font-size: 18px;
	font-weight: 300;
	color: var(--White);
}

.input1{
	width: 95%;
	height: 65px;
	float: left;
	background-color: transparent;
	border: none;
	outline: none;
	border-bottom: 2px solid var(--White);
	padding: 1px 10px;
	font-size: 18px;
	font-weight: 300;
	color: var(--White);
}

.form-text{
	width: 100%;
	float: left;
	margin-top: 20px;
}

textarea{
	width: 95%;
	background: transparent;
	box-shadow: none;
	border: none;
	outline: none;
	padding: 10px 0;
	font-size: 18px;
	font-weight: 300;
	color: var(--White);
	min-height: 100px;
	border-bottom: 2px solid var(--White);
}

.btnn{
	padding: 1rem 2rem;
	margin-top: 25px;
	color: var(--Black);
	font-size: 20px;
	font-weight: 700;
	border: none;
	background: var(--Soft);
	border-radius: 10px;
	box-shadow: .2px 1px 8px var(--White);
	cursor: pointer;
}

.btnn:hover{
	background: transparent;
	border: 2px solid var(--Soft);
	color: var(--White);
}

.icons-box{
	width: 30%;
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
	padding: 20px;	
}

.icons-box1{
	width: 100%;
	background: var(--White);
	background-clip: border-box;
	background-clip: border-box;
	border-bottom: 7px solid var(--Soft);
	border-radius: 0.4rem;
	margin-bottom: 16px;
	padding: 40px;
	margin-right: 20px;
}

#icons1{
	font-size: 30px;
	color: var(--Soft);
	margin-left: 45%;
}

.text{
	color: var(--Black);
	font-size: 20px;
	text-align: center;
	margin-top: 15px;
	text-transform: uppercase;
	font-weight: 300;
}

.line{
	width: 50%;
	height: 4px;
	background: var(--Soft);
	border: none;
	margin-left: 25%;
	margin-top: 14px;
}

.sub-text{
	color: var(--Black);
	font-size: 18px;
	text-align: center;
	font-weight: 300;
	margin-top: 15px;
}

.footer{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	border-top: 3px solid var(--Soft);
	border-bottom: 3px solid var(--Soft);
}

.footer1{
	width: 100%;
	margin-top: 15px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.footer1 .fa{
	text-align: center;
	height: 2rem;
	width: 2rem;
	background: transparent;
	border-radius: 100%;
	border: 1px solid white;
	line-height: 2rem;
	cursor: pointer;
	padding: 0 8px 0 8px;
	margin-right: 13px;
	color: white;
}

.footer1 .fa:hover{
	border: 1px solid var(--Soft);
	color: var(--Soft);
}

.footer1 li{
	list-style: none;
	padding: 5px 5px;
}

.footer1 a{
	color: var(--White);
	text-decoration: none;
}

.footer1 h4{
	font-size: 20px;
	text-align: center;
	letter-spacing: 3px;
	color: var(--White);
	margin-bottom: 15px;
}

@media (max-width: 350px){
	nav .navbar{
		height: 100%;
		max-width: 1250px;
		margin: auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 20px;
	}

	nav .navbar .logo a{
		color: var(--Soft Magenta);
		font-size: 30px;
		font-weight: 600;
		text-decoration: none;
	}

	nav .navbar .logo a span{
		color: var(--White);
		font-size: 30px;
		font-weight: 600;
		text-decoration: none;
	}

	nav .navbar .nav-links{
		display: block;
		position: fixed;
		top: 0;
		right: -100%;
		max-width: 270px;
		width: 100%;
		height: 300px;
		border-width: 270px;
		border-bottom-left-radius: 300px;
		background: var(--Soft);
		padding: 20px;
		line-height: 40px;
		transition: all 0.5s ease;
	}

	nav .navbar .nav-links .links li{
		position: relative;
		display: flex;
		align-items: center;
		list-style: none;
		padding: 0 60px;
	}

	nav .navbar .nav-links .links li a{
		height: 100%;
		color: #fff;
		text-decoration: none;
		white-space: nowrap;
		font-size: 18px;
		font: 500;
	}

	nav .navbar .nav-links .sidebar-logo{
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	.navbar .fa-bars{
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 50px;
		background: var(--Soft);
		padding-left: 12px;
		color: var(--White);
		font-size: 20px;
	}

	.nav-links .sidebar-logo .logo_name,
	.nav-links .sidebar-logo .fa-close{
		color: var(--White);
		font-size: 25px;
		font-weight: 500;
	}

	nav .navbar .nav-links .links{
		margin-top: 20px;
	}

}
